.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
  color: white;
  line-height: 31px;
  text-align: center;
  font-weight: bold;
}

.logo h1{
  color: white;
  font-size: 18px;
}

.logo a{
  color: white;
}

.layout{
  min-height: 100vh;
}
 
.footer{
  text-align: center;
  font-size: 12px;
}

.footer a{
  color: inherit;
  text-decoration: underline;
}