.header{
  background-color: #005565;
}

.search input[type=text]{
  background: #003e4b;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
}
.search input[type=text]::placeholder{
  color: rgba(255, 255, 255, 0.4);
}
:global(.anticon-search){
  color: rgba(255, 255, 255, 0.4) !important;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
  color: white;
  line-height: 31px;
  text-align: center;
  font-weight: bold;
}

.logo h1{
  color: white;
  font-size: 18px;
}

.logo a{
  color: white;
}

.layout{
  min-height: 100vh;
}
 
.footer{
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

.footer a{
  color: inherit;
  text-decoration: underline;
}

.right{
  float: right;
}